*.class
*.ima
*.jar
*.log
*.log.*
*.sublime-workspace
*.tmbuild
*.tmproj
.DS_Store
.lein-*
.nrepl-port
.project
.sass-cache/
.settings
.repl
checkouts/
classes/
input/
lib/
logs/
pom.xml
pom.xml.asc
target/
Thumb.db
userdata/
profiles.clj